<!DOCTYPE html>
<html>
  <head>
  	<title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <%- include('nav.ejs'); %>
      <ul class="classify"></ul>
      <div class="list"></div>
  </body>
  <script src="/javascripts/jquery-3.1.1.js"></script>
  <script src="/javascripts/gallery.js"></script>
</html>
