<!DOCTYPE html>
<html>
  <head>
  	<title>test</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
	<%- include('nav.ejs'); %>
    <% data.data.movies.forEach(function(user){ %>
	   <h1><%= user.nm %></h1>
	   <p><%= user.star %></p>
	   <img src="<%= user.img %>"/>
	   <hr>
	<% }); %>
  </body>
  <script src="/javascripts/jquery-3.1.1.js"></script>
  <script src="/javascripts/test.js"></script>
</html>
