body {
  padding: 0px 50px;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #eee;
}

a {
  color: #fff;
  text-decoration: none;
}

ul {
	background-color:#999;
	list-style-type:none;
	display: flex;
	justify-content: center;
	line-height: 50px;
	flex-wrap: wrap;
}

ul li {
	color:#fff;
	flex:1;
	min-width: 100px;
	cursor:pointer;
}
