body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

ul {
	background-color:#999;
	list-style-type:none;
	display: flex;
	justify-content: center;
	line-height: 50px;
	flex-wrap: wrap;
}

ul li {
	color:#fff;
	flex:1;
	min-width: 100px;
}